body {
	width: 800px;
	background-color: lightblue;
	color: red;
}
body {
	width: 800px;
	margin: 10px auto 0 auto;
}
body {
	width: 90%;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
	border:5px solid blue;
	border-radius: 20.50em;
	
}

